#buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

#buttonsContainer button {
    width: 12%;
    color: rgb(255, 255, 255);
    background-color: #F6C90E;
    font-size: 140%;
    border: none;
    border-radius: 50px;
    padding: 0.7%;
    margin-top: 10px;
    font-family: 'pf_beausans_prolight';
    cursor: pointer;
}

@media (max-width: 1050px) {
    #buttonsContainer button {
        width: 25%;
        padding: 2%;
        font-size: 220%;
    }
}

@media (max-width: 850px) {
    #buttonsContainer button {
        width: 30%;
        padding: 2%;
        font-size: 220%;
    }
}

@media (max-width: 550px) {
    #buttonsContainer button {
        width: 30%;
        padding: 2%;
        font-size: 160%;
    }
}

@media (max-width: 450px) {
    #buttonsContainer button {
        width: 45%;
        padding: 2%;
        font-size: 160%;
    }
}

#buttonsContainer p {
    margin: 0;
    font-size: 18px;
}

@media (max-width: 1050px) {
    #buttonsContainer p {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    #buttonsContainer p {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    #buttonsContainer p {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    #buttonsContainer p {
        font-size: 24px;
    }
}