.forSelect {
    color: black;
    font-size: 20px;
}

@media (max-width: 1050px) {
    .forSelect {
        font-size: 32px;
    }
}

@media (max-width: 850px) {
    .forSelect {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    .forSelect {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    .forSelect {
        font-size: 24px;
    }
}

#sortField {
    display: flex;
    /* justify-content: right; */
    padding: 2vw;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


@media (max-width: 550px) {
    #sortField {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    #sortField {
        flex-direction: column;
    }
}

#groupField {
    display: flex;
    justify-content: center;
    padding: 2vw;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

#listPageMain {
    background-color: #DADADA;
    height: 100vh;
    box-sizing: border-box;
}

#sortField select {
    background-color: #F6C90E;
    border: none;
    padding: 5px;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    margin: 10px;
    font-family: 'pf_beausans_prolight';
    text-align: center;
}

@media (max-width: 1050px) {
    #sortField select {
        font-size: 32px;
    }
}

@media (max-width: 850px) {
    #sortField select {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    #sortField select {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    #sortField select {
        font-size: 24px;
    }
}

#childrenImg {
    width: 30px
}

@media (max-width: 1050px) {
    #childrenImg {
        width: 50px
    }
}

@media (max-width: 850px) {
    #childrenImg {
        width: 40px
    }
}

@media (max-width: 550px) {
    #childrenImg {
        width: 30px
    }
}

@media (max-width: 450px) {
    #childrenImg {
        width: 30px
    }
}

tbody button {
    background-color: #1D576F;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    padding: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
    border: none
}

@media (max-width: 1050px) {
    tbody button {
        font-size: 32px;
    }
}

@media (max-width: 850px) {
    tbody button {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    tbody button {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    tbody button {
        font-size: 20px;
    }
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DADADA;
}

thead, tbody {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
}

tbody tr:nth-child(1) {
    background-color: #9C9C9C;
}

thead {
    background-color: #1D576F;
}

th {
    color: white;
}

td, th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}

@media (max-width: 1050px) {
    td, th {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    td, th {
        font-size: 25px;
    }
}

@media (max-width: 550px) {
    td, th {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    td, th {
        font-size: 15px;
    }
}

.leftAlign {
    justify-content: left;
    padding-left: 5%;
    box-sizing: border-box;
    text-align: left;
}

.hidden {
    display: none;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
  margin: auto;
  margin-top: 10px;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

#groupName {
    color: white;
    background-color: #F6C90E;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    margin-left: 5px;
}

@media (max-width: 1050px) {
    #groupName {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    #groupName {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    #groupName {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    #groupName {
        font-size: 20px;
    }
}

.mark {
    width: 13px;
}

@media (max-width: 1050px) {
    .mark {
        width: 18px;
    }
}

@media (max-width: 850px) {
    .mark {
        width: 16px;
    }
}

@media (max-width: 550px) {
    .mark {
        width: 13px;
    }
}

@media (max-width: 450px) {
    .mark {
        width: 11px;
    }
}

.click {
    cursor: pointer;
    width: 70%;
}

#residents {
    color: white;
}

#filter {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    #filter {
        margin-top: -20px;
        flex-direction: column;
        height: 180px;
    }
}

@media (max-width: 450px) {
    #filter {
        margin-top: -20px;
        flex-direction: column;
        height: 180px;
    }
}

#filter input {
    width: 20%;
    height: 50%;
    margin: 10px;
    font-family: 'pf_beausans_prolight';
    font-size: 16px;
}

@media (max-width: 1050px) {
    #filter input {
        font-size: 22px;
        width: 25%;
    }
}

@media (max-width: 850px) {
    #filter input {
        font-size: 20px;
        width: 22%;
    }
}

@media (max-width: 550px) {
    #filter input {
        width: 45%;
        height: 15%;
        margin: -15px;
        margin-right: 20px;
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    #filter input {
        width: 50%;
        height: 15%;
        margin: -15px;
        margin-right: 20px;
        font-size: 18px;
    }
}

#filter button {
    border-radius: 50px;
    border: none;
    background-color: transparent;
    font-family: 'pf_beausans_prolight';
    font-size: 16px;
    /* margin: 1px; */
}

@media (max-width: 1050px) {
    #filter button {
        font-size: 22px;
    }
}

@media (max-width: 850px) {
    #filter button {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    #filter button {
        font-size: 18px;
        margin-top: 40px;
    }
}

@media (max-width: 450px) {
    #filter button {
        font-size: 18px;
        margin-top: 40px;
    }
}

#filter #filterButton {
    background-color: white;
}

#filter img {
    width: 25px;
}

#filter #resetFilterButton {
    padding-top: 5px;
    margin-left: -10px;
}

@media (max-width: 550px) {
    #filter #resetFilterButton {
        margin-top: -45px;
        margin-left: 250px;
    }
}


@media (max-width: 450px) {
    #filter #resetFilterButton {
        margin-top: -45px;
        margin-left: 220px;
    }
}

.seniorSelect {
    display: none;
}

#sortField section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

@media (max-width: 1050px) {
    #sortField section{
        width: 40%;
    }
}

@media (max-width: 850px) {
    #sortField section{
        width: 40%
    }
}

@media (max-width: 550px) {
    #sortField section{
        width: 100%
    }
}

@media (max-width: 450px) {
    #sortField section{
        width: 100%
    }
}

.tableHeader {
    width: 15%
}

.rightAlignment {
    width: 15%
}